<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>

    <h1><%= kindOfDay %> ToDo List</h1>

    <ul>
        <li>Buy Vegan Food</li>
        <li>Cook Vegan Food</li>
        <li>Eat Vegan Food</li>
    </ul>

</body>
</html>